In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
pd.set_option("display.width", 400)

In [3]:
path = Path("../data/train_val.npy")
arr = np.load(path, allow_pickle=True)
a = np.array(arr[0][1], dtype=np.dtype('S40, f4, f4, f4, f4'))
np.random.shuffle(a)

In [4]:
df = pd.DataFrame(arr)
df.columns = ["filepath", "boxclass"]
df.head()

                                            filepath                                           boxclass
0  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...               [(house, 81.0, 437.0, 210.0, 537.0)]
1  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...                [(road, 278.0, 81.0, 495.0, 143.0)]
2  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...  [(pole, 33.0, 132.0, 62.0, 183.0), (pole, 463....
3  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...               [(pole, 169.0, 266.0, 177.0, 317.0)]
4  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...                [(road, 91.0, 342.0, 497.0, 441.0)]

In [5]:
df = df.explode("boxclass", ignore_index=True)
df.head()

                                            filepath                            boxclass
0  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...  (house, 81.0, 437.0, 210.0, 537.0)
1  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...   (road, 278.0, 81.0, 495.0, 143.0)
2  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...    (pole, 33.0, 132.0, 62.0, 183.0)
3  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...  (pole, 463.0, 256.0, 508.0, 319.0)
4  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...  (pole, 169.0, 266.0, 177.0, 317.0)

In [6]:
box = pd.DataFrame(df["boxclass"].tolist())
box.columns = ["class", "xmin", "ymin", "xmax", "ymax"]
box.head()

   class   xmin   ymin   xmax   ymax
0  house   81.0  437.0  210.0  537.0
1   road  278.0   81.0  495.0  143.0
2   pole   33.0  132.0   62.0  183.0
3   pole  463.0  256.0  508.0  319.0
4   pole  169.0  266.0  177.0  317.0

In [7]:
df = pd.concat([df.loc[:, "filepath":"filename"], box], axis=1)
df.head()

                                            filepath  class   xmin   ymin   xmax   ymax
0  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...  house   81.0  437.0  210.0  537.0
1  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...   road  278.0   81.0  495.0  143.0
2  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...   pole   33.0  132.0   62.0  183.0
3  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...   pole  463.0  256.0  508.0  319.0
4  D:\WorkSpace\MyPapersCode/Yolo-v3\data\Image\D...   pole  169.0  266.0  177.0  317.0